@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gaegu&family=Poor+Story&display=swap');

.poor-story-regular {
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  
.navbar {
    background-color: #f7f7f7;
    padding: 10px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 50;
    
}

.navbar-menu-item {
    display: inline;
    margin-right: 20px;
    
}

.navbar-link {
    color: rgb(238, 175, 175);
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: none;
}