  
.navbar {
    background-color: #f7f7f7;
    padding: 10px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 50;
    
}

.navbar-menu-item {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(238, 175, 175);
}


.navbar-link:hover {
    text-decoration: none;
}

.navbar-menu-item a {
    text-decoration: none;
}